[Desktop Entry]
Encoding=UTF-8
Name=Link to scene.cfg
Type=Link
URL=https://github.com/BlackSamorez/python_project/blob/master/scene.cfg
Icon=text-html
